
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/OS-VM-Shell/ubu64/admin/backup_extract.sh
Name=backup_extract
GenericName=backup_extract
Comment=backup_extract
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/OS-VM-Shell/ubu64/admin/src/exec_icon.jpg
Categories=Application;Network;TEST

