
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git/execs/clone_Notes.sh
Name=clone_Notes
GenericName=clone_Notes
Comment=clone_Notes
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/git.png
Categories=Application;Network;TEST

