
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git_Shortcut/execs/clone_Enzyme.sh
Name=clone_Enzyme
GenericName=clone_Enzyme
Comment=clone_Enzyme
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/OS-VM-Shell/ubu64/admin/src/git.png
Categories=Application;Network;TEST

