
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git/execs/clone_VMs.sh
Name=clone_VMs
GenericName=clone_VMs
Comment=clone_VMs
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/git.png
Categories=Application;Network;TEST

