
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/admin/del_migrations.sh
Name=del_migrations
GenericName=del_migrations
Comment=del_migrations
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/web.png
Categories=Application;Network;TEST

