
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git_Shortcut/execs/terminal_Notes.sh
Name=terminal_Notes
GenericName=terminal_Notes
Comment=terminal_Notes
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/OS-VM-Shell/ubu64/admin/src/git.png
Categories=Application;Network;TEST

