
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git_Shortcut/execs/terminal_Timesheet.sh
Name=terminal_Timesheet
GenericName=terminal_Timesheet
Comment=terminal_Timesheet
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/OS-VM-Shell/ubu64/admin/src/git.png
Categories=Application;Network;TEST

