
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git_Shortcut/execs/terminal_Git_Shortcut.sh
Name=terminal_Git_Shortcut
GenericName=terminal_Git_Shortcut
Comment=terminal_Git_Shortcut
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/OS-VM-Shell/ubu64/admin/src/git.png
Categories=Application;Network;TEST

