
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git/execs/terminal_Enzyme.sh
Name=terminal_Enzyme
GenericName=terminal_Enzyme
Comment=terminal_Enzyme
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/git.png
Categories=Application;Network;TEST

