
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git/execs/terminal_hdt1996.sh
Name=terminal_hdt1996
GenericName=terminal_hdt1996
Comment=terminal_hdt1996
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/git.png
Categories=Application;Network;TEST

