
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/admin/backup_nozip_save.sh
Name=backup_nozip_save
GenericName=backup_nozip_save
Comment=backup_nozip_save
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/exec_icon.jpg
Categories=Application;Network;TEST

