
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git/execs/clone_Spring.sh
Name=clone_Spring
GenericName=clone_Spring
Comment=clone_Spring
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/git.png
Categories=Application;Network;TEST

