
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git/execs/clone_Utils.sh
Name=clone_Utils
GenericName=clone_Utils
Comment=clone_Utils
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/git.png
Categories=Application;Network;TEST

