
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/admin/make_executable.sh
Name=make_executable
GenericName=make_executable
Comment=make_executable
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/exec_icon.jpg
Categories=Application;Network;TEST

