
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/admin/reboot.sh
Name=reboot
GenericName=reboot
Comment=reboot
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/exec_icon.jpg
Categories=Application;Network;TEST

