
[Desktop Entry]
Version=1.0
Exec=/home/htran/Desktop/Git/execs/terminal_Utils.sh
Name=terminal_Utils
GenericName=terminal_Utils
Comment=terminal_Utils
Encoding=UTF-8
Terminal=true
Type=Application
Icon=/home/htran/Desktop/admin/src/git.png
Categories=Application;Network;TEST

